/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.welcome {
  text-align: center;
}

/* Header */
header {
    background-color: #FB5D1C;
    padding: 10px 20px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .header-icon {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

/* Main Section */
main {
    padding: 20px;
    margin-right: 200px;
    flex: 1;
}

/* Input and Output Sections */
.input-section, .output-section {
    border: 1px solid #ccc;
    background-color: #50525E;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    color: white;
}

/* Inputs */
label {
    display: block;
    margin: 10px 0 5px;
}
input, select, button {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* Sidebar */
.fixed-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 185px;
    height: 75%;
    background-color: #40414F;
    padding: 20px 10px;
    color: white;
    line-height: 75px;
}

/* Links */
a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: #FB5D1C;
}

a:active {
  color: #50525E;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #40414F;
    color: white;
    margin-top: auto;
}

/* Resources Page Specific Styles */
.resources-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.resources-section article {
    display: flex; /* Enables side-by-side layout */
    gap: 10px; /* Space between image and text */
    align-items: center;
    background-color: #50525E; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    color: white;
}

#articleB img {
    width: 100px; /* Adjust size as needed */
    height: 130px;
    border-radius: 4px;
    object-fit: cover;
}

#articleC img {
    height: 110px;
    width: 160px;
    border-radius: 4px;
    object-fit: cover; /* Ensures the image fills the space without distortion */
}

#articleD img {
    height: 90px;
    width: 160px;
    border-radius: 4px;
    object-fit: cover; /* Ensures the image fills the space without distortion */
}

.resources-section article div {
    flex: 1; /* Ensures text takes up remaining space */
}

.resources-section article a {
    color: white;
    text-decoration: none;
}

.resources-section article a:hover {
    text-decoration: underline;
    color: #FB5D1C;
}
