body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FB5D1C;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.navbar {
    background-color: #ccc;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.navbar li a {
    text-decoration: none;
    color: black;
}

.navbar li a.active {
    font-weight: bold;
}

main {
    padding: 20px;
}

.welcome {
    text-align: center;
    margin-bottom: 20px;
}

.input-section, .output-section {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select, button {
    width: 50%; /* Adjusted to half the screen width */
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box; /* Ensure padding doesn't affect width */
}

footer {
    background-color: #ccc;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.social-media {
    margin-bottom: 10px;
}
